/*  =========================
		   Page Layout
		-----------------
		Table of Contents
    ========================= 
	01. Body
	02. #wrap
	03. #header
	04. #nav-main
	05. #content-main
	06. #footer
	07. Misc Classes

================================================================== */
	body {
		background: #ffc;
		}
	
/* container --> layout
================================================================== */
	#container{
		margin:0 auto;
		width:960px;
		background:#fff;	
		border:3px solid #000;

	}
/* wrapper --> layout
================================================================== */
	#wrap{  /* when there isn't wrap container it keeps the web centered in ie */
		margin:0 auto;
		width:960px;
		background:#fff;	
		}
/* header --> layout
================================================================== */
	header {
		height:100px;
		width:960px;
		margin:5px auto;
		background:#ffc;
		}
/* header --> classes
------------------------------------------------------------------ */

 
.nav > li {
float:left;
}
 
.nav li a {
background:#e00;
color:#FFF;
display:block;
border:1px solid;
padding:10px;
text-decoration: none;
font-weight: bold;
   
}
 
.nav li a:hover {
background:#126b1c;
}
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
.nav li:hover > ul {
display:block;
}
	
#logo{
		width:200px;
		height:200px;
		padding:10px;
		
	} 

  
	
	
/* content-main --> classes / about.html
------------------------------------------------------------------ */
	.about_box {
		}
	.about_box img {
		background:#eee;
		float:left;
		margin: 0 20px 10px 0;
		border: 1px solid #ccc;
		padding:5px;
		}


/* extra classes
================================================================== */
	.clear {
		clear:both;
	}

/* Debug - for diagraming the structure of the web 
================================================================== */
	/* box for testing, bottom margin in footer should be removed in custom box */
	.box {
		font:30px/80px Helvetica;
		color: #000;
		background:#ff9;
		text-align: center;
		border: 1px solid #000;
		margin: 0 0 20px 0;
	}		
	
/* Debug - main structure divs (turn it on this while you are building the site)
================================================================== */
	
	/* Just for testing */
	.debug .row{
		padding: 0 0 20px 0;
	}
	.debug .column{
		padding: 0 0 20px 0;
	}
	.debug #header {
		padding: 0 0 20px 0;
		margin: 0 0 20px 0;
		}
	.debug #nav-main {
		padding: 0 0 20px 0;
		margin: 0 0 20px 0;
		}
	.debug #content-main {
		padding: 0 0 20px 0;
		margin: 0 0 20px 0;
		}

	.debug {
		/* Grid Place Holder (repeat-y center top)*/
		background: url(http://griddle.it/940-12-20)  repeat-y center top !important;
	}
	.debug div{ 
		outline:1px solid yellow; /* wrap */
	}
	.debug div>div{
		outline:1px solid green; /* ids */
		background:#cf9;
	}
	.debug div>div>div{
		outline:1px solid blue; /* row */
		background:#9cf;
	}
	.debug div>div>div>div{
		outline:1px solid orange; /* column and grid_n */
		background:#fc9;
	}
	/* footer has one div less */
	.debug div>div>div>div>div{
		outline:1px solid red; /* box */
		background:#fcc;
	}
	