<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="ApplicationServices"
          connectionString="data source=.\;Initial Catalog=ORDEN; Integrated Security=SSPI;"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
