@{
    ViewBag.Title = "Contáctenos";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Equipo</h3>
    </header>
    <p>
        <span class="label">Jefe de Proyecto:</span>
        <span>Miguel Espinoza, Luis Angel</span>
    </p>
    <p>
        <span class="label">Soporte Técnico:</span>
        <span>Vargas Sánchez, David Giancarlo</span>
    </p>
    <p>
        <span class="label">Calidad:</span>
        <span>Gago Hidalgo, Luis Oswaldo</span>
    </p>
    <p>
        <span class="label">Documentador:</span>
        <span>Carrasco Mascaro, Jose Antonio</span>
    </p>
    <p>
        <span class="label">Integrador:</span>
        <span>Luna Choque, Ronny Eusebio</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Jefatura:</span>
        <span><a href="mailto:lmiguelespinoza@gmail.com">lmiguelespinoza@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Documentación:</span>
        <span><a href="mailto:jacarrascom@gmail.com">jacarrascom@gmail.com</a></span>
    </p>
</section>

@*<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>*@