@{
    ViewBag.Title = "Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                El presente trabajo trata sobre el modelado del negocio y el análisis de todo lo que concierne al proceso 
                y subprocesos de realizar una orden. Dicho proceso detalla cómo se gestiona la orden de pedido del cliente  en la empresa Chili’s.
            </p>
        </div>
    </section>
}
<h3>Se realizará lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Análisis</h5>
        Se analizará el proceso de registro del pedido en comanda hasta la solicitud de la cuenta por parte del cliente.
    </li>

    <li class="two">
        <h5>Seguimiento</h5>
        Se realizará el seguimiento de la administración del salón  para ello se identificaran las actividades realizadas 
        por el jefe de salón  y los reportes de informes que se generaran debido a ello.
    </li>

    <li class="three">
        <h5>Presentación</h5>
        Se detallan las actividades que serán automatizadas, se identifican los casos de uso y actores del sistema, 
        se presentan los diagramas de actores, paquetes y de casos de uso del sistema y se establecen los atributos 
        que van a permitir priorizar cada caso de uso. Finalmente, se muestra el benchmarking y las matrices de 
        trazabilidad de los casos de uso necesarias
    </li>
</ol>
